header,
body,
p,
h1,
h2,
h3,
h4,
footer {
    padding: 0;
    margin: 0;
}

html {
    background: rgb(231, 231, 231);
    font-family: 'Ubuntu', sans-serif;
    background-color: #c2946f;
}

div#wrapper {
    margin-left: 150px;
    max-width: 1080px;
    box-shadow: 0 0 20px #444;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    height: 300px;
    padding: 0 5px 0 5px;
    background-image: url("../images/vr-world-image.jpg");
    background-repeat: no-repeat;
    background-size: 1080px 300px;
}


/* putting in the top header h1-h2*/

#company {
    color: rgb(255, 251, 0);
    font-size: 3.25rem;
    padding-top: 20px;
    text-shadow: 3px 3px rgb(5, 5, 5);
    text-indent: 20px;
    margin: 20px 170px 30px 10px;
}

#slogan {
    color: rgb(255, 251, 0);
    font-size: 2rem, ;
    padding-top: 90px;
    margin-left: 40px;
    text-shadow: 3px 3px rgb(5, 5, 5);
    text-indent: 5px;
}

main h1 {
    clear: both;
}

main img {
    height: 80px;
    width: 450px;
    margin-left: 30px;
}


/* main body stuff*/

main,
footer {
    background-color: rgb(231, 231, 231);
    clear: both;
}

main {
    background-color: #c2946f;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: black;
    padding-top: 30px;
    margin-left: 20px;
}

h3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: #034d00;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    /*text-indent: 30px;*/
    font-size: 26px;
    padding-bottom: 10px;
}

p {
    padding-bottom: 5px;
    margin-left: 25px;
}

ol {
    list-style: none;
    padding-bottom: 25px;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    clear: both;
    padding-top: 3px;
    padding-bottom: 3px;
}