header,
body,
p,
h1,
h2,
h3,
h4,
footer {
    padding: 0;
    margin: 0;
}

html {
    background: rgb(231, 231, 231);
    font-family: 'Ubuntu', sans-serif;
    background-color: #c2946f;
}

div#wrapper {
    margin-left: 170px;
    margin-right: 150px;
    max-width: 1100px;
    box-shadow: 0 0 20px #444;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    max-width: 1080px;
    height: 200px;
    margin: 0 50px 15px 60px;
    background-image: url("../images/vr-world-image.jpg");
    background-repeat: no-repeat;
    background-size: 1080px 200px;
}


/* putting in the top header h1-h2*/

#company {
    color: rgb(255, 251, 0);
    font-size: 3.25rem;
    padding-top: 20px;
    text-shadow: 3px 3px rgb(5, 5, 5);
    text-indent: 20px;
    margin: 0 170px 30px 10px;
}

#slogan {
    color: rgb(255, 251, 0);
    font-size: 2rem, ;
    padding-top: 20px;
    margin-left: 40px;
    text-shadow: 3px 3px rgb(5, 5, 5);
    text-indent: 5px;
}

.nav {
    display: flex;
    justify-content: left;
    list-style: none;
    font-size: 16px;
    width: 180px;
    max-height: 40px;
    background-color: #00fc3f;
    color: black;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    float: left;
}

.nav a {
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    border-left: 2px solid rgb(231, 231, 231);
    border-right: 2px solid rgb(231, 231, 231);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav a:hover {
    color: rgb(251, 255, 21);
    background-color: #00fc3f;
}

main h1 {
    clear: both;
}

main img {}


/* main body stuff*/

main,
footer {
    background-color: rgb(231, 231, 231);
    clear: both;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: black;
    padding-top: 20px;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: #048000;
    margin-top: 17px;
    margin-bottom: 5px;
    /*text-indent: 30px;*/
    font-size: 26px;
}

footer {
    text-align: center;
    clear: both;
}