h1 {}

nav ul li {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 16px;
    width: 947px;
    max-height: 40px;
    background-color: #00fc3f;
    color: black;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

main h1 {
    clear: both;
}

main img {}

footer {
    text-align: center;
    clear: both;
}